@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

img.show{
    @apply  translate-y-0 md:translate-y-20 lg:translate-y-40 ;
}